---
- hosts: 127.0.0.1
  name: 07 - Unregister Compute Managers in NSX
  gather_facts: false
  vars_files: 
    - ../../answerfile.yml

  tasks:
    - name: Unregistering Compute Managers
      vmware.ansible_for_nsxt.nsxt_fabric_compute_managers:
        hostname: "{{ nsx_hostname }}.{{ nsx_domain }}"
        username: "{{ nsx_admin_user }}"
        password: "{{ nsx_admin_password }}"
        validate_certs: "{{ nsx_validate_certs }}"
        display_name: "{{ item.display_name }}"
        server: "{{ item.server }}"
        origin_type: "{{ item.origin_type }}"
        credential:
          credential_type: "{{ item.credential_type }}"
          username: "{{ item.username }}"
          password: "{{ item.password }}"
        state: "{{ state }}"
      with_items: 
        - "{{compute_managers}}"
...